<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="" />
<meta name="author" content="" />
<link rel="icon" href="/favicon.ico" />
<title>Postal | Pay</title>
<script src="https://code.jquery.com/jquery-3.2.1.js"
	integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
	crossorigin="anonymous" type="text/javascript"></script>


<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous" />

<!-- Optional theme -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
	integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
	crossorigin="anonymous" />

<!-- Latest compiled and minified JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
	integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
	crossorigin="anonymous" type="text/javascript"></script>
</head>
<body>
	<div class="container">
	<div class="row" >
		<div class="col-md-12">
		<h1>Submit your payment details!</h1>
		</div>
	</div>
	<div class="row" >
		<div class="col-md-12">
			<p class="text-danger" th:text="${message}"></p>
		</div>
	</div>
		<div class="row">
			<div class="col-md-12">
				<form method="post" action="/SubmitPayment" >
					<label for="name">Name</label>
					<input required="required" type="text" id="name" class="form-control" />
					<label for="creditCardNumber">Credit Card Number</label>
					<input type="password" required="required" id="creditCardNumber" class="form-control"/>
					<hr />
					<h2>Billing info</h2>
					<label for="BillStreetAddress">Street Address</label>
					<input class="form-control" type="text" required="required" id="BillStreetAddress" />
					<label for="BillCity">City</label>
					<input class="form-control" type="text" id="BillCity" required="required" />
					<label for="BillState">State (abbr.)</label>
					<input class="form-control" type="text" id="BillState" maxlength="2" required="required" />
					
					<button type="submit" class="btn btn-primary">Submit</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>